<% if(success && success.length) {%>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success %>
    <button type="btton" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>